@keyframes heartbeat {           //@keyframes - означает что будет анимация.
    from {                       // Это первый ключевой кадр. from - означает из какого состояния она будет начинаться. 
        transform: scale(1);     // scale (1) - означает маштаб. (1) - означает что маштаб равен 100%.
    }
    50% {                        // Это промжуточный этап. от 0% до 100%
        transform: scale(1.4);   // Маштаб  элемента увеличился на 40% 
    }
    to {                         // Это второй ключевой кадр. to - ознчакт в какое состояние приходит 
        transform: scale(1);     // Маштаб  элемента вернулся к 100%
    }
}