@media (max-width: 991px) {
	.promo {
		header {
			justify-content: space-around;
		}
		&__wrapper {
			align-items: center;
		}
	}
	.advantages{
		&__wrapper {
			justify-content: space-around;
		}
		&__subtitle {
			font-size: 17px;
		}
		&__descr {
			font-size: 13px;
		}
	}
	.consultation {
		.title_left {
			margin-left: 20px;
			font-size: 35px;
		}
		&__descr {
			margin-left: 20px;
		}
		form {
			margin-left: 20px;
		}
	}
	.footer {
		.footer__info {
			top: 55%;
		}
	}
	.catalog {
		.catalog__content_active{
			justify-content: space-around;
		}
	}
	.feed {
		.feed__item {
			margin-top: 50px;
			display: block;
		}
		&__img {
			display: block;
			margin: 0 auto;
		}
		&__subtitle {
			text-align: center;
			margin-top: 10px;
		}
		&__count {
			text-align: center;
		}
	}

	.carousel {
		ul {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100px;
			margin: 0 auto;
			cursor: pointer;
			li {
				button {
					display: none;
				}
			}
		}
	}

}
@media (max-width: 768px) {
   .promo {
	   .header {
		   &__logo {
			   width: 160px;
		   }
		   &__official {
			   font-size: 11px;
			   span {
				   font-size: 17px;
			   }
		   }
		   &__contacts {
			   align-items: center;
		   }
		   &__phone {
			   font-size: 12px;
		   }
		   .button {
			   width: 120px;
			   height: 25px;
			   font-size: 10px;
		   }
	   }
		&__wrapper {
			margin-top: 100px;
		}
		&__header {
			font-size: 32px;
		}
		&__subheader {
			margin-top: 7px;
			font-size: 20px;
		}
		&__icons {
			margin-top: 85px;
		}
		.button_main {
			width: 175px;
			font-size: 12px;
		}
		&__link {
			font-size: 13px;
		}
   }
   .advantages {
	   &__item {
		   width: 170px;
	   }
	   &__subtitle {
		   font-size: 15px;
	   }
	   &__descr {
		   font-size: 12px;
	   }
	   a {
		   display: block;
	   }
   }
   	.consultation {
	   h2 {
		   font-size: 30px;
	   }
	   .consultation__descr {
		   width: 300px;
		   font-size: 19px;
		   text-align: center;
	   }
	   form {
		   margin-top: 25px;
	   }
   }
   .carousel{
	   &__inner {
		   max-width: 50%;
	   }
   }
   .catalog {
	   &__tabs {
		   justify-content: space-around;
		   max-width: 70%;
		   margin: 70px auto 0;
		   li {
			   font-size: 14px;
		   }
	   }
   }
   
}

@media (max-width: 650px) {
	.catalog {
		&__tabs {
			flex-direction: column;
		}
		.catalog__tabs {
			margin-top: 40px;
		}
		.catalog__tab {
			font-size: 15px;
			&:nth-child(n+2) {
				margin-top: 15px;
			}
		}
		.catalog__content {
			flex-direction: column;
			align-items: center;
		}
	}
}

@media (max-width: 576px) {
	.promo {
		.header {
			flex-direction: column;
			align-items: center;
			&__logo {
				width: 210px;
			}
			&__official {
				margin-top: 20px;
				font-size: 13px;
				span {
					font-size: 20px;
				}
			}
			&__contacts {
				margin-top: 20px;
			}
			&__phone {
				font-size: 15px;
			}
			.button {
				margin-top: 10px;
				width: 150px;
				height: 35px;
				font-size: 10px;
			}

		}
		&__header {
			font-size: 30px;
			text-align: center;
		}
		&__subheader {
			margin-top: 0px;
			width: 280px;
			font-size: 15px;
			text-align: center;
		}
		&__icons {
			margin-top: 85px;
			flex-direction: column;
			align-items: center;
		}
		&__icon {
			margin-bottom: 50px;
		}
		.button_main {
			width: 160px;
			height: 40px;
			font-size: 11px;
		}
		&__link {
			font-size: 12px;
		}
	}
	.advantages {
		.title {
			font-size: 30px;
		}
		&__wrapper {
			flex-direction: column;
			align-items: center;
		}
		&__item {
			width: 220px;
			margin-bottom: 30px;
		}
		&__subheader {
			margin-top: 15px;
			width: max-content;
			font-size: 16px;
		}
		&__subtitle {
			width: 220px;
			margin-top: 15px;
			font-size: 18px;
			text-align: center;
		}
		&__descr {
			margin-top: 15px;
			font-size: 14px;
		}
		
	}
	.consultation {
		h2 {
			display: block;
			margin: 0 auto;
			padding: 0 30px 0 30px;
			text-align: center;
			font-size: 25px;
		}
		.feed-form {
			margin: 0 auto;
			margin-top: 30px;
			width: 250px;
			input {
				font-size: 12px;
			}
			.button_submit {
				font-size: 12px;
			}
				
			
		}
		.consultation__descr {
			margin: 0 auto;
			margin-top: 30px;
			text-align: center;
			font-size: 13px;
		}
	}
	.overlay {
		.modal {
			width: 60%;
			&__descr {
				font-size: 12px;
			}
			&__subtitle {
				font-size: 15px;
			}
		}
		.feed-form {
			width: 100%;
			input {
				font-size: 12px;
			}
			button {
				font-size: 14px;
			}
		}

	}
}
@media (max-width: 460px) {
	.consultation {
		.title_left {
			font-size: 25px;
			margin: 0 auto;
		}
	}
	.catalog {
		.catalog-item {
			width: 290px;
		}
		h2 {
			font-size: 25px;
			margin-top: 50px;
		}
		ul {
			margin-top: 35px;
		}
		&__tabs{
			flex-direction: column;
		}
		li {
			margin-bottom: 15px;
			div {
				font-size: 15px;
			}
		}
		.catalog {
			&__content {
				margin-top: 35px;
				flex-direction: column;
				align-items: center;
			}
		}
		.catalog-item {
			&__subtitle {
				font-size: 15px;
			}
			&__descr {
				font-size: 13px;
			}
			&__old-price {
				font-size: 12px;
			}
			&__price {
				font-size: 18px;
			}
		}
		button {
			width: 120px;
			font-size: 12px;
		}
		a {
			font-size: 12px;
		}
	}

	.feed {
		h2 {
			font-size: 25px;
		}
		&__item{
			flex-direction: column;
			align-items: center;
		}
		&__text {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 10px;
		}
		.feed__item {
			margin-top: 50px;
			&:nth-child(2) {
				margin-top: 50px;
			}
		}
		.feed__descr {
			font-size: 15px;
			text-align: center;
		}
	}
	.footer {
		.footer__info {
			top: 65%;
			width: 340px;
			height: 200px;
			padding: 30px;
		}
		.footer__addr {
			margin-bottom: 25px;
			font-size: 15px;
		}
		.footer__phone {
			margin-bottom: 33px;
			font-size: 18px;
		}
		.footer__social-item {
			width: 45px;
			height: 45px;
		}
	}
	section.carousel {
		padding: 50px 0 10px 0;
	}
	.carousel .slick-list {
		left: 0;
	}
	.catalog {
		h2 {
			margin-top: 30px;
		}
		li {
			margin-bottom: 0;
		}
	}
	.overlay{
		.modal {
			min-height: 0%;
			padding: 15px 40px 15px 40px;
			max-height: 60%;
			&__subtitle {
				font-size: 11px;
			}
			&__descr {
				font-size: 10px;
			}
			&__close {
				right: -30px;
			}
		}
		.feed-form_mt25 {
			margin-top: 10px;
			max-height: 275px;
			input {
				font-size: 8px;
				height: 30px;
			}
		}
		.feed-form .button {
			font-size: 10px;
			height: 30px;
		}
		.error {
			font-size: 8px;
		}
	}

}
@media (max-width: 425px) {
	.footer {
		.footer__info {
			top: 71%;
			width: 300px;
			height: 170px;
		}
		.footer__addr {
			margin-bottom: 15px;
			font-size: 12px;
		}
		.footer__phone {
			margin-bottom: 30px;
			font-size: 15px;
		}
		.footer__social-item {
			width: 35px;
			height: 35px;
			margin: 0 10px;
			img {
				height: 20px;
			}
		}
	}
	section.carousel {
		padding: 50px 0 10px 0;
	}
	.carousel .slick-list {
		left: 0;
	}
	.catalog {
		h2 {
			margin-top: 30px;
		}
		li {
			margin-bottom: 0;
		}
	}
}
@media (max-width: 375px) {
	.promo {
		&__icons {
			width: 100%;
		}
	}
	section.carousel {
		padding: 50px 0 10px 0;
	}
	.footer {
		.footer__info {
			top: 74%;
			width: 230px;
			height: 150px;
			padding: 15px;
		}
		.footer__addr {
			margin-bottom: 15px;
			font-size: 12px;
		}
		.footer__phone {
			margin-bottom: 30px;
			font-size: 15px;
		}
		.footer__social-item {
			width: 35px;
			height: 35px;
			margin: 0 10px;
			img {
				height: 20px;
			}
		}
	}
	.carousel .slick-list {
		left: 0;
	}
	.catalog {
		h2 {
			margin-top: 30px;
		}
		li {
			margin-bottom: 0;
		}
	}
}

